# Server
PORT=4000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://nani:teja@cluster0.96ykkr9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Auth
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
